{% extends 'flatpages/default.html' %}
{% load humanize %}
{% load tz %}

{% load news_filters %}

{% block title %}{{ news.title|censor|truncatechars:72 }}{% endblock title %}

{% block content %}
    <div style="margin: 35px auto; width: 800px; text-align: left;">
        <div style="font-size: 12px; margin-bottom: 20px;"><a href="/news"><< Назад</a>
        {% if is_author %}
            <a href="{{ news.id }}/update">Изменить</a> <a href="{{ news.id }}/delete">Удалить</a>
        {% endif %}
        </div>
        <div>
            <h1 style="font-size: 16px">{{ news.title|censor }}</h1>
            <p style="font-size: 13px; margin-bottom: 5px">{{ news.created_at|localtime|format_date:"%d.%m.%Y %H:%M" }} ({{ news.created_at|naturaltime }})</p>
            <p style="font-size: 11px; margin-bottom: 15px">{{ category_names|safe }}</p>
            {% for text_block in text %}
                <p style="font-size: 14px">{{ text_block|censor }}</p>
            {% endfor %}
            <p style="font-size: 13px; margin-bottom: 15px">Автор: {{ news.author.user.username }}</p>
        </div>
    </div>
{% endblock content %}