{% extends 'flatpages/default.html' %}
{% load static %}

{% block title %}Вход в аккаунт{% endblock title %}

{% block custom_links %}
<link rel="stylesheet" href="{% static 'css/password_reset.css' %}">
{% endblock custom_links %}

{% block content %}
<div class="block-reset-password">
    <h1 class="block-reset-password-title">Сброс пароля</h1>
    {% if form.non_field_errors %}
    <div class="error-block">
        {% for error in form.non_field_errors %}
        <p>• {{ error }}</p>
        {% endfor %}
    </div>
    {% endif %}
    <form action="" method="post" class="form-reset-password">
        {% csrf_token %}
        <div class='form-reset-password-input'>
            <label>{{ form.email.label }}</label>
            {{ form.email }}
        </div>
        <button type="submit" class="form-reset-password-button">Войти</button>
    </form>
</div>
{% endblock content %}