{% extends 'flatpages/default.html' %}
{% load custom_filters %}
{% load humanize %}
{% load tz %}

{% load static %}

{% block title %}
Профиль пользователя {{ user.username }}
{% endblock title %}

{% block custom_links %}
<link rel="stylesheet" href="{% static 'css/profile.css' %}">
{% endblock custom_links %}

{% block content %}
<div class="profile-content">
    {% if not user.first_name and not user.last_name %}
    <h1 class="profile-content-title">Профиль пользователя {{ user.username }}</h1>
    {% else %}
    <h1 class="profile-content-title">Профиль пользователя {{ user.first_name }} {{ user.last_name }}</h1>
    {% endif %}
    <div class="profile-content-links">
        <a href="settings/">Редактировать профиль</a>
        {% if is_author %}
        <a href="/news/create/">Создать новость</a>
        <a href="/articles/create/">Создать статью</a>
        {% endif %}
    </div>
    <div class="profile-content-information">
        <p><b>Дата регистрации:</b> {{ user.date_joined|localtime|format_date:"%d.%m.%Y %H:%M" }} ({{ user.date_joined|naturaltime }})</p>
        {% if is_author %}
            <p><b>Статус автора:</b> Имеется</p>
        {% else %}
            <p><b>Статус автора:</b> Не имеется (<a href="get_author_status">получить статус автора</a>)</p>
        {% endif %}
        {% if is_author %}
            <div class="profile-content-posts">
                <h2 class="profile-content-posts-title"><b>Опубликованные посты:</b></h2>
                <div class="profile-content-posts-list">
                    {% if posts %}
                        {% for post in posts %}
                            {% if post.post_type == "NE" %}
                                <a href="/news/{{ post.id }}" class="profile-content-posts-item">{{ post.created_at|localtime|format_date:"%d.%m.%Y %H:%M" }} - {{ post.title|censor|truncatechars:72 }}</a><br>
                            {% else %}
                                <a href="/articles/{{ post.id }}" class="profile-content-posts-item">{{ post.created_at|localtime|format_date:"%d.%m.%Y %H:%M" }} - {{ post.title|censor|truncatechars:72 }}</a><br>
                            {% endif %}
                        {% endfor %}
                    {% else %}
                        <h3 class="profile-content-posts-item">Опубликованные посты отсутствуют</h3>
                    {% endif %}
                </div>
            </div>
        {% endif %}
    </div>
</div>
{% endblock content %}