{% extends 'flatpages/default.html' %}

{% load custom_filters %}
{% load custom_tags %}

{% block title %}Поиск статей{% endblock title %}

{% block content %}
    <h1 style="font-size: 20px; margin-top: 25px">Список статей ({{ page_obj.paginator.count }})</h1>
    <form action="" method="get">
        <div style="display: flex; margin: auto; justify-content: space-around;">{{ filterset.form.as_p }}</div>
        <input type="submit" value="Найти">
    </form>
    <hr>
    <div style="margin: auto; width: 600px; text-align: left;">
        <div style="font-size: 12px; margin-bottom: 20px;"><a href="/articles"><< Назад</a></div>
        <div>
            {% if articles %}
                {% for articles_item in articles %}
                    <a href="/articles/{{ articles_item.id }}" style="font-size: 15px;">{{ articles_item.created_at|date:'d.m.Y' }} - {{ articles_item.title|censor|truncatechars:72 }}</a><br>
                {% endfor %}
            {% else %}
                <h2 style="font-size: 18px; text-align: center;">Статьи отсутствуют</h2>
            {% endif %}
            <div style="margin-top: 10px; font-size: 14px; text-align: center;">
                {% if page_obj.has_previous %}
                    <a href="?{% url_replace page=1 %}">1</a>
                    {% if page_obj.previous_page_number != 1 %}
                        ...
                        <a href="?{% url_replace page=page_obj.previous_page_number %}">{{ page_obj.previous_page_number }}</a>
                    {% endif %}
                {% endif %}
                {{ page_obj.number }}
                {% if page_obj.has_next %}
                    <a href="?{% url_replace page=page_obj.next_page_number %}">{{ page_obj.next_page_number }}</a>
                    {% if paginator.num_pages != page_obj.next_page_number %}
                        ...
                        <a href="?{% url_replace page=page_obj.paginator.num_pages %}">{{ page_obj.paginator.num_pages }}</a>
                    {% endif %}
                {% endif %}
            </div>
        </div>
    </div>
{% endblock content %}