.main-block {
    width: 900px;
    margin: auto;
    padding: 15px 0;
}

.main-block-title {
    text-align: center;
    font-size: 20px;
}

.main-block-last-news {

}

.main-block-last-news-title {
    text-align: center;
    font-size: 18px;
}

.main-block-last-news-items {
    text-align: left;
    font-size: 13px;
}