.block-reset-password {
    width: 800px;
    margin: auto;
    padding: 10px 0;
    display: inline-grid;
}

.block-reset-password-title {
    font-size: 20px;
    font-weight: 600;
}

.error-block {
    width: 75%;
    padding: 15px;
    color: #ba3939;
    background: #ffe0e0;
    border-radius: 25px;
    border: 1px solid #a33a3a;
    margin: 15px auto;
}

.error-block > p {
    line-height: 1;
    margin-block: 0;
    font-weight: 500;
    text-align: left;
    font-size: 13px;
    margin-bottom: 5px;
}

.error-block > p:last-child {
    margin-bottom: 0;
}

.form-reset-password {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 250px;
    margin: auto;
}

.form-reset-password-input {
    display: inline-grid;
    justify-items: center;
    margin-bottom: 10px;
}

.form-reset-password-input:last-of-type {
    margin-bottom: 0;
}

.form-reset-password-input > label {
    font-weight: 500;
    font-size: 14px;
    margin-bottom: 5px;
}

.form-reset-password-input > input {
    font-size: 12px;
    text-align: center;
    width: 200px;
    height: 25px;
    border-radius: 1000px;
    border: 1px solid black;
}

.form-reset-password-additional {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.form-reset-password-additional-item {
    display: flex;
    align-items: center;
    font-size: 11px;
    gap: 5px;
}

.form-reset-password-button {
    background: none;
    border-radius: 1000px;
    border: 1px solid black;
    width: 125px;
    height: 30px;
    text-align: center;
    margin-top: 20px;
}